<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtv1OjLv_XQpb3xxUx5JNlYc2Kj0y5Y-c</string>
	<key>GCM_SENDER_ID</key>
	<string>68702314935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.PrivacyOverlay</string>
	<key>PROJECT_ID</key>
	<string>privacy-overlay-4cf1f</string>
	<key>STORAGE_BUCKET</key>
	<string>privacy-overlay-4cf1f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68702314935:ios:a34e0941a115c72b474832</string>
</dict>
</plist>